// header layout
.contact-header {
    background-image: url(../assets/blog-image-1.jpg);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-nav {
        background-color: $dark-green;
    }
    h1 {
        font-size: calc(4rem + 4vw);
    }
}

// main layout
.contact-main {
    background-color: $white-shade;
    padding: 80px 0;
    .wrapper {
        display: flex;
        aside {
            width: 30%;
            address {
                font-style: normal;
            }
        }
        form {
            width: calc(70% - 40px);
            margin-left: 40px;
        }
    }
}
.social-links {
    display: flex;
    li {
        margin-right: 25px;
        color: $dark-green;
    }
}
.contact-aside {
    p:first-child {
        margin: 20px 0;
        font-weight: bold;
    }
}
