// header layout
header {
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
        h1 {
            position: relative;
            left: -70px;
        }
        .main-img {
            box-shadow: 20px 20px $white;
            position: relative;
            top: 30px;
        }
    }
}
// main layout
// article one layout
.article-one {
    background-color: $white-shade;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 0;
        p {
            margin: 4vh 0;
            text-align: center;
        }
        button {
            margin-bottom: 7vh;
        }
    }
}
.section-one {
    position: relative;
    .bgc {
        background-color: $light-green;
        position: absolute;
        width: calc(50% + 20px);
        bottom: 20px;
        top: -20px;
    }
    .wrapper {
        display: flex;
        position: relative;
        top: -20px;
        .img-cont1 {
            position: relative;
            top: -20px;
            width: 50%;
        }
        .article-two {
            width: calc(50% - 80px);
            margin-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h3 {
                margin-top: 40px;
            }
            p {
                margin: 30px 0;
            }
            button {
                align-self: flex-start;
            }
        }
    }
}
.section-two {
    position: relative;
    margin-top: 20px;
    .bgc {
        background-color: $dark-green;
        position: absolute;
        width: calc(50% + 20px);
        bottom: -40px;
        top: 40px;
        left: calc(50% - 20px);
    }
    .wrapper {
        display: flex;
        position: relative;
        top: -20px;
        .img-cont2 {
            position: relative;
            bottom: -40px;
            z-index: 10;
            width: 50%;
        }
        .article-three {
            position: relative;
            top: 40px;
            width: calc(50% - 80px);
            margin-right: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            p {
                margin: 30px 0;
                text-align: end;
            }
        }
    }
}
.section-three {
    background-color: $white-shade;
    .wrapper {
        display: flex;
        padding: 10vh 0;
        img {
            width: 20%;
            box-shadow: 20px 20px $light-green ;
        }
        .article-four {
            width: calc(80% - 80px);
            margin-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button {
                align-self: flex-start;
                position: relative;
                bottom: -20px;
            }
        }
    }
}

.img-cluster.wrapper {
    margin: 60px auto;
    display: flex;
    li {
        width: calc((100% - 20px) / 3);
        margin-right: 30px;
        img {
            width: 100%;
        }
    }
    li:last-of-type {
        margin-right: 0;
    }
}
footer {
    background-color: $white-shade;
    p {
        padding: 10px 0;
    }
}
.footer-main {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    li {
        width: 50%;
        display: flex;
        a {
            background-color: $accent;
            border-radius: 50%;
            width: 64px;
            height: 64px;
            i {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        a:hover,
        a:focus {
            background-color: $light-green;
        }
        .subcluster {
            margin-left: 30px;
            width: calc(100% - 30px - 64px);
            margin-bottom: 60px;
            h3 {
                margin: 15px 0;
            }
        }
    }
}
