// header layout
header {
    height: 100vh;
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        h1 {
            position: relative;
            left: -70px;
        }
        .main-img {
            box-shadow: 20px 20px #ffffff ;
            position: relative;
            top: 30px;
        }
    }
}
// main layout
// article one layout
.article-one {
    background-color: #F6F6F6;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 0;
        p {
            margin: 4vh 0;
            text-align: center;
        }
        button {
            margin-bottom: 7vh;
        }
    }
}
.section-one {
    position: relative;
    .bgc {
        background-color: #709B6B;
        position: absolute;
        width: calc(50% - 20px);
        left: 0;
        right: 0;
        bottom: 20px;
        top: -20px;

    }
    .wrapper {
        display: flex;
        position: relative;
        top: -20px;
        .img-cont1,
        .article-two {
            width: calc(50% - 40px);
        }
        .img-cont1 {
            position: relative;
            top: -20px;
        }
        .article-two {
            margin-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            p {
                margin: 40px 0;
            }
            button {
                align-self: flex-start;
            }
        }
    }
}