html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

header .heading h1 {
  position: relative;
  left: -70px;
}

header .heading .main-img {
  -webkit-box-shadow: 20px 20px #ffffff;
          box-shadow: 20px 20px #ffffff;
  position: relative;
  top: 30px;
}

.article-one {
  background-color: #F6F6F6;
}

.article-one .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0;
}

.article-one .wrapper p {
  margin: 4vh 0;
  text-align: center;
}

.article-one .wrapper button {
  margin-bottom: 7vh;
}

.section-one {
  position: relative;
}

.section-one .bgc {
  background-color: #709B6B;
  position: absolute;
  width: calc(50% + 20px);
  bottom: 20px;
  top: -20px;
}

.section-one .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -20px;
}

.section-one .wrapper .img-cont1 {
  position: relative;
  top: -20px;
  width: 50%;
}

.section-one .wrapper .article-two {
  width: calc(50% - 80px);
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-one .wrapper .article-two h3 {
  margin-top: 40px;
}

.section-one .wrapper .article-two p {
  margin: 30px 0;
}

.section-one .wrapper .article-two button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-two {
  position: relative;
  margin-top: 20px;
}

.section-two .bgc {
  background-color: #345231;
  position: absolute;
  width: calc(50% + 20px);
  bottom: -40px;
  top: 40px;
  left: calc(50% - 20px);
}

.section-two .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -20px;
}

.section-two .wrapper .img-cont2 {
  position: relative;
  bottom: -40px;
  z-index: 10;
  width: 50%;
}

.section-two .wrapper .article-three {
  position: relative;
  top: 40px;
  width: calc(50% - 80px);
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-two .wrapper .article-three p {
  margin: 30px 0;
  text-align: end;
}

.section-three {
  background-color: #F6F6F6;
}

.section-three .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 0;
}

.section-three .wrapper img {
  width: 20%;
  -webkit-box-shadow: 20px 20px #709B6B;
          box-shadow: 20px 20px #709B6B;
}

.section-three .wrapper .article-four {
  width: calc(80% - 80px);
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-three .wrapper .article-four button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  bottom: -20px;
}

.img-cluster.wrapper {
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-cluster.wrapper li {
  width: calc((100% - 20px) / 3);
  margin-right: 30px;
}

.img-cluster.wrapper li img {
  width: 100%;
}

.img-cluster.wrapper li:last-of-type {
  margin-right: 0;
}

footer {
  background-color: #F6F6F6;
}

footer p {
  padding: 10px 0;
}

.footer-main {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-main li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-main li a {
  background-color: #E4A436;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.footer-main li a i {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-main li a:hover,
.footer-main li a:focus {
  background-color: #709B6B;
}

.footer-main li .subcluster {
  margin-left: 30px;
  width: calc(100% - 30px - 64px);
  margin-bottom: 60px;
}

.footer-main li .subcluster h3 {
  margin: 15px 0;
}

.inline-link {
  text-transform: none;
  color: #709B6B;
  font-weight: bold;
}

.blog-header {
  background-image: url(../assets/blog-image-1.jpg);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-header .top-nav {
  background-color: #345231;
}

.blog-header h1 {
  font-size: calc(4rem + 4vw);
}

.blog-main {
  background-color: #F6F6F6;
  padding: 80px 0;
}

.blog-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-main .wrapper aside {
  width: calc(30% - 20px);
  margin-right: 40px;
}

.blog-main .wrapper aside .blog-article,
.blog-main .wrapper aside .blog-aside-recent {
  background-color: #ffffff;
  padding: 40px;
}

.blog-article {
  margin-bottom: 20px;
}

.blog-article h3 {
  margin: 40px 0;
  width: 100%;
}

.blog-aside-recent ul {
  margin-top: 20px;
}

.blog-aside-recent ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
}

.blog-aside-recent ul li p {
  display: inline;
  padding-left: 10px;
}

.main-post {
  width: calc(70% - 20px);
}

.main-post .blog-section-1,
.main-post .blog-section-2 {
  border-bottom: 5px solid #709B6B;
  margin-bottom: 40px;
}

.main-post .blog-section-1 {
  background-color: #ffffff;
  padding: 40px;
}

.main-post .blog-section-1 ul li {
  margin: 30px 0;
}

.main-post .blog-section-2 .blog-main-subcluster {
  background-color: #ffffff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-post .blog-section-2 .blog-main-subcluster img {
  width: 10%;
  margin-right: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-post .blog-section-2 .blog-main-subcluster div {
  width: calc(90% - 20px);
}

.main-post .blog-section-2 .blog-main-subcluster:first-child {
  margin-bottom: 40px;
}

.blog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-form .inputs input[type=text] {
  margin-right: 20px;
}

.blog-form .inputs input[type=text],
.blog-form .inputs input[type=email] {
  width: calc(50% - 10px);
  border: none;
  padding: 20px 40px;
}

.blog-form textarea {
  border: none;
  margin: 20px 0;
  padding: 20px 40px;
}

.blog-form input[type=text]::-webkit-input-placeholder,
.blog-form input[type=email]::-webkit-input-placeholder,
.blog-form textarea::-webkit-input-placeholder {
  color: #1F1F1F;
  opacity: 1;
  font-size: 1.5rem;
}

.blog-form input[type=text]:-ms-input-placeholder,
.blog-form input[type=email]:-ms-input-placeholder,
.blog-form textarea:-ms-input-placeholder {
  color: #1F1F1F;
  opacity: 1;
  font-size: 1.5rem;
}

.blog-form input[type=text]::-ms-input-placeholder,
.blog-form input[type=email]::-ms-input-placeholder,
.blog-form textarea::-ms-input-placeholder {
  color: #1F1F1F;
  opacity: 1;
  font-size: 1.5rem;
}

.blog-form input[type=text]::placeholder,
.blog-form input[type=email]::placeholder,
.blog-form textarea::placeholder {
  color: #1F1F1F;
  opacity: 1;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

body,
button,
input[type=submit] {
  font-family: 'Abril Fatface', cursive;
}

.top-nav a,
p,
input[type=text],
input[type=email],
textarea {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-nav a {
  font-weight: bold;
  line-height: 29px;
}

.top-nav a:hover,
.top-nav a:focus {
  color: #E4A436;
}

h1,
h2,
h3,
a,
button,
input[type=submit] {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

button,
input[type=submit],
p {
  line-height: 32px;
}

h1 {
  font-size: calc(4rem + 7.812vw);
  line-height: 92px;
}

h2 {
  font-size: calc(3rem + 0.7812vw);
}

h3 {
  font-size: calc(2rem + 0.7812vw);
}

a,
button,
input[type=submit],
p {
  font-size: calc(1rem + 0.651vw);
}

header {
  color: #ffffff;
  background-color: #345231;
}

.footer-copyright {
  background-color: #1F1F1F;
  color: #F6F6F6;
  text-align: center;
}

button,
input[type=submit] {
  background-color: #E4A436;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
}

button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  background-color: #709B6B;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.top-nav ul li {
  margin: 0 20px;
}

@media (max-width: 1080px) {
  button,
  input[type=submit],
  p {
    line-height: 24px;
  }
  h1 {
    font-size: calc(2rem + 7vw);
  }
}

@media (max-width: 800px) {
  .top-nav ul li {
    margin: 0 10px;
  }
  header .heading h1 {
    left: -40px;
  }
  h1 {
    font-size: calc(2rem + 5vw);
  }
  a,
  button,
  input[type="submit"],
  p {
    font-size: 1.2rem;
  }
  .section-one .bgc {
    bottom: 0;
    top: 0;
    width: 50%;
  }
  .section-one .wrapper {
    top: 0;
  }
  .section-one .wrapper .img-cont1 {
    top: 0;
  }
  .section-one .wrapper .img-cont1 img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .section-one .wrapper .article-two {
    margin-left: 20px;
    width: calc(50% - 20px);
  }
  .section-one .wrapper .article-two p {
    margin: 15px 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .section-two .bgc {
    bottom: 0;
    top: 0;
    width: 50%;
    left: 50%;
  }
  .section-two .wrapper {
    top: 0;
    margin: 40px auto;
  }
  .section-two .wrapper .img-cont2 {
    bottom: 0;
  }
  .section-two .wrapper .img-cont2 img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .section-two .wrapper .article-three {
    margin-right: 20px;
    width: calc(50% - 20px);
    top: 0;
  }
  .section-two .wrapper .article-three p {
    margin: 15px 0;
  }
  .section-three .wrapper img {
    width: 40%;
  }
  .section-three .wrapper .article-four {
    width: calc(60% - 30px);
    margin-left: 30px;
  }
  .section-three .wrapper .article-four p {
    margin: 10px 0;
  }
  .footer-main li a i {
    font-size: 20px;
  }
  .blog-main .wrapper aside .blog-article,
  .blog-main .wrapper aside .blog-aside-recent {
    padding: 30px 5px;
  }
  .blog-article h3,
  .blog-aside-recent h3 {
    text-align: center;
  }
  .main-post .blog-section-1 {
    padding: 30px 10px;
  }
  .main-post .blog-section-2 .blog-main-subcluster {
    padding: 30px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-post .blog-section-2 .blog-main-subcluster img {
    width: 50%;
    margin-bottom: 10px;
  }
  .main-post .blog-section-2 .blog-main-subcluster div {
    width: 100%;
  }
  .blog-form .inputs input[type=text],
  .blog-form .inputs input[type=email] {
    padding: 10px;
  }
  .blog-form textarea {
    padding: 10px;
  }
  .blog-form input[type=text]::-webkit-input-placeholder,
  .blog-form input[type=email]::-webkit-input-placeholder,
  .blog-form textarea::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .blog-form input[type=text]:-ms-input-placeholder,
  .blog-form input[type=email]:-ms-input-placeholder,
  .blog-form textarea:-ms-input-placeholder {
    font-size: 1rem;
  }
  .blog-form input[type=text]::-ms-input-placeholder,
  .blog-form input[type=email]::-ms-input-placeholder,
  .blog-form textarea::-ms-input-placeholder {
    font-size: 1rem;
  }
  .blog-form input[type=text]::placeholder,
  .blog-form input[type=email]::placeholder,
  .blog-form textarea::placeholder {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .top-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top-nav ul li:nth-of-type(3) {
    display: none;
  }
  header .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70vh;
  }
  header .heading img:first-child {
    rotate: 63deg;
  }
  header .heading h1 {
    left: 0;
    top: -30px;
  }
  header .heading .main-img {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
  }
  .article-one .wrapper {
    padding: 5vh 0;
  }
  .article-one .wrapper h2 {
    text-align: center;
  }
  .article-one .wrapper button {
    margin-bottom: 0;
  }
  .section-one .bgc {
    display: none;
  }
  .section-one .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-one .wrapper .img-cont1 {
    width: 90%;
  }
  .section-one .wrapper .img-cont1 img {
    top: 20px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .section-one .wrapper .article-two {
    width: 90%;
    margin-left: 0;
  }
  .section-one .wrapper .article-two h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-one .wrapper .article-two p {
    text-align: center;
  }
  .section-one .wrapper .article-two button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-two .bgc {
    display: none;
  }
  .section-two .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-two .wrapper .img-cont2 {
    width: 90%;
  }
  .section-two .wrapper .img-cont2 img {
    top: 20px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .section-two .wrapper .article-three {
    width: 90%;
    margin-right: 0;
  }
  .section-two .wrapper .article-three h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-two .wrapper .article-three p {
    text-align: center;
  }
  .section-two .wrapper .article-three button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-three .wrapper {
    padding: 5vh 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-three .wrapper img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .section-three .wrapper .article-four {
    width: 100%;
    margin-left: 0;
  }
  .section-three .wrapper .article-four h3 {
    margin: 20px auto;
  }
  .section-three .wrapper .article-four button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .img-cluster.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto;
  }
  .img-cluster.wrapper li {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-main li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer-main li .subcluster p {
    display: none;
  }
  .footer-main li .subcluster h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .blog-main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-main .wrapper aside {
    width: 100%;
    margin-right: 0;
  }
  .blog-main .wrapper aside .blog-aside-recent {
    margin-bottom: 20px;
  }
  .blog-main .wrapper .main-post {
    width: 100%;
  }
}
